@charset "UTF-8";
body{
    background-image: url("imagens/fazebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    height: 500vh;
    margin: 0;
    padding: 0;
}