@charset "UTF-8";

h1 {
  text-align: center;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

body {
  background-image: url("backgroundr6.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/* Ajuste da largura do .liquid e .faze para ocupar toda a tela em dispositivos menores */
.liquid, .faze {
  padding: 0;
  background-size: cover;
  color: white;
  background-position: start;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 40vh;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Ajuste da largura da .container para caber melhor em telas menores */
.container {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  margin-left: 1%;
  width: 20%;
  height: auto;
  max-width: 300px; /* Limita a largura máxima da .container */
}

.caixaliquid, .caixafaze {
  width: 100%;
  height: 30vh;
  background-color: rgba(20, 19, 19, 0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}

.textoliquid, .textofaze {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.imgliquid, .imgfaze {
  position: relative;
  margin-bottom: 12%;
}

.container:hover {
  transform: scale(1.1);
}

/* Responsividade para tablets (largura de tela até 768px) */
@media (max-width: 768px) {
  .liquid, .faze {
    width: 90%;
    height: 30vh;
  }

  .container {
    width: 45%;
    margin: 1%;
  }

  .textoliquid, .textofaze {
    font-size: 1.2rem;
  }
}

/* Responsividade para celulares (largura de tela até 480px) */
@media (max-width: 480px) {
  .liquid, .faze {
    width: 100%;
    height: 30vh;
  }

  .container {
    width: 90%;
    margin: 2% auto;
  }

  .textoliquid, .textofaze {
    font-size: 1rem;
  }
}
