@charset "UTF-8";

h1{
 text-align: center;
}

a{
 color:rgb(255, 255, 255);
 text-decoration: none;
}
body {
 background-image: url("backgroundr6.webp");
 background-repeat: no-repeat;
 background-size: cover; /* Faz com que a imagem ocupe todo o fundo */
 background-position: center; /* A imagem fica centralizada */
 color: white;  /* Cor da fonte */
 font-family: Arial, Helvetica, sans-serif; /* Fonte do texto */
 background-attachment: fixed; /* Faz com que a imagem permaneça fixa no fundo enquanto os conteudos da pagina passam por cima dela */

}

.liquid {
 padding: 20px;
background-size: cover; /* Faz com que a imagem ocupe todo o fundo */
color: white;
background-image: url("../liquid/imagens/linecompleta.webp");
background-position: start;
background-repeat: no-repeat; /* A imagem não se repete */
margin: 0 auto; /* Remove a margem padrão do body */
height: 40vh; /* Garante que o body ocupe 100% da altura da tela */
width: 1400px;
border-radius: 15px; /* Arredonda os cantos */
display: flex;
justify-content: flex-start;
align-items: center;
}
.faze {
padding: 20px;
background-size: cover; /* Faz com que a imagem ocupe todo o fundo */
color: white;
background-image: url("../Faze/imagens/fazecompleta.jpg");
background-position: start; /* A imagem fica centralizada */
background-repeat: no-repeat; /* A imagem não se repete */
margin: 0 auto; /* Remove a margem padrão do body */
height: 40vh; /* Garante que o body ocupe 100% da altura da tela */
width: 1400px;
border-radius: 15px; /* Arredonda os cantos */
display: flex;
justify-content: flex-start;
align-items: center;
}
.container {
 position: relative; /*&Faz com que o texto seja posicionado em relação ao container */
 display: inline-block; /*O elemento é exibido como um bloco, mas permite que outros elementos fiquem ao lado dele */
}
.texto {
 position: absolute;
 top: -70px; /* Coloca o texto no topo da imagem */
 left: 50%;
 transform: translateX(-50%); /* Centraliza horizontalmente */
 font-size: 30px;
 text-align: center;
}