@charset "UTF-8";
p{
    text-align: center;
}

  .container {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    height: 95vh;            /* Define a altura da área visível (tela inteira) */
    
  }

  iframe {
    max-width: 100%;  /* Impede que o iframe ultrapasse a largura da tela */
    height: 720px;     /* Mantém a proporção do vídeo */
    width: 1280px;     /* Define a largura do vídeo */
  }


