@charset "UTF-8";

body {
background-image: url(../imagens/liquidbackground\(1\).jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 200vh;
}

div {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

